@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 15px;
  background-color: #ffffff;
  text-align: center;
   box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  line-height: 1.4;
}

.navbar ul {
  display: block;
}

.navbar ul li {
  margin: 8px;
  display: inline;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.navbar a:hover {
  color: lightslategray;
  text-decoration: underline;
}

.navbar p {
  display: inline;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
  text-decoration: underline;
}

.wrapper {
  margin-top: 150px;
}

.wrapper p {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: #000000;
}